

#jumbo {
  height: 85vh;
  background-image: url('../../../public/img/jumbo_img.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: calc(100vh/4);
}
