@import '../var.scss';

#imageViewer {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .show {
      padding: 1vh;
      margin: 1vh;
      background-color: aquamarine;
    }
    .slider{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .img_description {
        padding: 2vh 0;
        align-self: stretch;
      }
      .img-container {
        width: 100%;
        height: 68vh;
        background-color: rgb(41, 41, 41);
        display: flex;
        justify-content: center;
        align-items: center;
        .carosello {
          max-height: 100%;
          max-width: 100%;
        }
      }
      .slider-comands {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        width: 100%;
        .dot {
        }
        .arrow {
          width: 45%;
          height: 45px;
          background-color: red;
          border-radius: 50px;
        }
      }
    }
    .gallery {
      width: 100%;
      margin-top: 5vh;
      margin-bottom: 10vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .gallery-img {
        max-width: 100%;
        margin: 0.5vh 0;
      }
    }
  }
}


@media all and (min-width: 1024px) {
  #imageViewer {
    margin-top: 5vh;
    .container {
      .show {
      }
      .slider{
        .img_description {
        }
        .img-container {
          .carosello {
          }
        }
        .slider-comands {
          .dot {
            height: 20px;
            width: 20px;
            background-color: gray;
            border-radius: 50%;
            &.active {
              background-color: aqua;
            }
          }
          .arrow {
            width: 60px;
          }
        }
      }
      .gallery {
        .gallery-img {
        }
      }
    }
  }
}

