#slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  .show {
    width: 20vw;
    height: 5vh;
    margin: 5vh;
    background-color: aquamarine;
    font-size: large;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}