* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: default;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
}

.container {
  width: 80%;
}

@import './var.scss';

@media all and (min-width: 1024px) {
  #navbarSpacing {
    padding-left: $widthNav;
  }
}
