@import './var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: default;
}

body {
  background-color: $bg-color;
  color: $colori-scritte;
}

img{
    pointer-events: none;
}

.container {
  width: 80%;
}


@media all and (min-width: 1024px) {
  #navbarSpacing {
    padding-left: $widthNav;
  }
}
