@import '../../var.scss';

#imageViewer {
  width: 100%;
  display: flex;
  justify-content: center;
  .container-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .show {
      padding: 1vh;
      margin: 1vh;
      background-color: $bg-button;
    }
    .slider{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .img_description {
        font-size: 18px;
        padding: 2vh 0;
        align-self: stretch;
        margin: 0 2vw;
      }
      .img-container {
        width: 100%;
        height: 60vh;
        background-color: $bg-slider;
        display: flex;
        justify-content: center;
        align-items: center;
        .carosello {
          max-height: 100%;
          max-width: 100%;
        }
      }
      .slider-comands {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 3vh 10vw;
        width: 100%;
        
        .arrow {
          i{
            font-size: 65px;
          }
        }
      }
    }
    .gallery {
      width: 100%;
      margin-top: 5vh;
      margin-bottom: 10vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .gallery-img {
        max-width: 100%;
        margin: 1.5vh 0;
      }
    }
  }
}


@media all and (min-width: 1024px) {
  #imageViewer {
    /* margin-top: 5vh; */
    min-height: 100vh;
    .container-slider {
      height: 100vh;
      background-color: $bg-slider;
      .show {
        margin-top: 2vh;
      }
      .slider{
        .slider-comands {
          padding: 10vh 3vw;
          .dot {
            height: 20px;
            width: 20px;
            background-color: $bg-dots;
            border-radius: 50%;
            &.active {
              background-color: black;
            }
          }
          .arrow {
            width: 60px;
          }
        }
      }
      
    }
  }
}

